:root{
  --text-color: rgb(240, 237, 235);
  --div-color: rgb(21, 21, 21);
  --link-color: #9D00FF;
  --border-color: 2px solid rgb(88, 87, 87);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  background-color: var(--div-color);
  color: var(--text-color);
  
  
}

.content{
  display: flex;
  height: 100%;
  width: 100%;
  
}

.navbar{
 
  height: 100vh;
  width: 20vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  outline: var(--border-color);

}

.navbar a{
  margin-top: 9rem;
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--link-color);
}

.main-content{
 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.title{
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: -2rem;
  border: var(--border-color);
  background-color: var();

} 


.subtitle{
  padding-top: 1%;
  padding-left: 2%;
}
.article{
  font-size: 1.2rem;
  height: 80vh;
  padding: 2%;
  line-height: 2.5rem;
  }

  footer{
    height: 4vh;
    width: 80vw;
    align-self: center;
    text-align: center;
   
  }

  footer a{
    text-decoration: none;
    color: var(--link-color);
    border: var(--border-color);
  }