*{
    font-family: 'Iceland', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Stardos Stencil', cursive;
}
body{
    background-image: url(images/sea.avif);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
    

    .navbar {
        background-image: url(images/wood.avif);
        padding: 20px;
        width: 7vw;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        border: black 1px solid;
      }
      
      .navbar a {
        display: block;
        color: #fefefe;
        text-decoration: none;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 2rem;
        margin-top: 100px;
        border-radius: 15%;
        text-align: center;
      }
      
      .navbar a:hover {
        background-color: #D2042D;
      }
      
      .title{
        background-image: url(images/sea.avif);
        height: 15vw;
        width: 90vw;
        margin-left: 170px;
      }

      .title > *{
        padding-left: 100px;
      }

      .title{
        font-size: 2rem;
      }
      
      .article{
        /*background-image: url(images/bitacora.avif);*/
        background-color: rgba(6, 6, 76, 0.8);
        
        font-size: 1.7rem;
        margin-left: 175px;
        margin-right: 0px;
        color:rgb(255, 255, 255);
        text-align: left;

      }

      .article > p{
        padding-left: 100px;
        padding-top: 25px;
        padding-right: 75px;
      }

    
      .buttons{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 300px;
        padding-bottom: 30px;
        margin-left: 30px;
        
      }
       .buttons > *{
        width: 100px;
        height: 50px;
        background-color: rgb(243, 242, 248);
        border: none;
        font-size: 1.4rem;
        text-align: center;
        border-radius: 10%;
       }
        .buttons *:hover{
            background-color: #2d04d2;
            color: white;
        }

      footer{
        background-image: url(images/sea.avif);
        width: 100%;
        text-align: center;
        
      }

      .footerLink{
        
        color: inherit;
      }
      a:focus,
    a:hover {
  outline: none; 
}





/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px; /* width of the scroll bar */
    background-color: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #413f3f; /* color of the scroll bar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scroll bar handle on hover */
  }